.Catalog {
    padding: 45px 0 ;
    &__title {
        display: flex;
        align-items:center;
    }
    &__content {
        margin: 0 -15px;
        margin-top: 5px;
        margin-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    &__navigation {
        &__btn {
            margin: 0 auto;    
            margin-bottom: 20px;
        }
    }
}