
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    src: url('../../../public/fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
font-family: 'Raleway';
font-style: normal;
font-weight: 200;
font-display: swap;
src: url('../../../public/fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCIPrE.woff2') format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-family: 'Raleway';
font-style: italic;
font-weight: 200;
src: url('../../../public/fonts/1Ptsg8zYS_SKggPNyCg4SYFqPfE.woff2') format('woff2');
unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
font-family: 'Raleway';
font-style: italic;
font-weight: 200;
src: url('../../../public/fonts/1Ptsg8zYS_SKggPNyCg4TYFq.woff2') format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-display: swap;
    src: url('../../../public/fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../../../public/fonts/1Ptug8zYS_SKggPNyC0ITw.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 300;
    src: url('../../../public/fonts/1Ptsg8zYS_SKggPNyCg4SYFqPfE.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  
@font-face {
font-family: 'Raleway';
font-style: italic;
font-weight: 300;
src: url('../../../public/fonts/1Ptsg8zYS_SKggPNyCg4TYFq.woff2') format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: url('../../../public/fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../../public/fonts/1Ptug8zYS_SKggPNyC0ITw.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: url('../../../public/fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: url('../../../public/fonts/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4VrMDrcfIA9c.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Raleway';
    font-display: swap;
    src: url('../../../public/fonts/1Ptug8zYS_SKggPNyCkIT5lu.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
