$dark-blue: #01003C;
$dark-purple: #971CC3;
$black-purple: #4f046a;
$suberblack-purple:#340346;
$blue-purple: #6f1ee5;
$light-purple: #e8affd;
$light-black:#4b4b4bcc;
$ghosted-black: #4b4b4b4f;
$gray: #d3d3d3;
$light-gray: #dbdbdb;
